body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #0b5a08;
}


#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #0b5a08;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover, 
.nav-portifolio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #bac4ac;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-restaurante, #portifolio {
    background-color: #bac4ac;
}

.text-colored {
    color: #0b5a08;
}

.nav-portifolio .nav-link.active, 
#fale-conosco button {
    background-color: #0b5a08;
    color: #fff;
}

.nav-portifolio .nav-link:hover {
    color: #0b5a08;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}